[Unit]
Description=nprobe extensible NetFlow v5/v9/IPFIX probe/collector for IPv4/v6
After=network.target syslog.target redis.service pf_ring.service cluster.service
Wants=pf_ring.service cluster.service
PartOf=pf_ring.service cluster.service

[Service]
Type=simple

ExecStartPre=/bin/sh -c '/bin/echo "$(/bin/date) nprobe StartPre" >> /var/log/ntop-systemd.log'
ExecStartPre=/bin/sh -c '/bin/sed "/^-g.*$\\|^-G.*\\|^--daemon-mode.*\\|^--pid-file.*/s/^/#/" /etc/nprobe/nprobe.conf > /run/nprobe.conf'

ExecStart=/usr/bin/nprobe /run/nprobe.conf

ExecStartPost=/bin/sh -c '/bin/echo "$(/bin/date) nprobe StartPost" >> /var/log/ntop-systemd.log'

ExecStopPost=-/bin/rm -rf /run/nprobe.conf
ExecStopPost=/bin/sh -c '/bin/echo "$(/bin/date) nprobe StopPost" >> /var/log/ntop-systemd.log'

Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
